<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
<!--Section: Live preview-->
<section class="form-dark">

  <!--Form without header-->
  <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg'); width: 28rem;">
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

      <!--Header-->
      <div class="text-center">
        <h3 class="white-text mb-5 mt-4 font-weight-bold">
          <strong>SIGN</strong>
          <a class="green-text font-weight-bold">
            <strong> IN</strong>
          </a>
        </h3>
      </div>

      <!--Body-->
      <form [formGroup]="darkForm">


        <div class="md-form">
          <input type="text" id="darkFormEmailEx"  [formControl]="emailFormEx" name="email" class="form-control white-text" formControlName="darkFormEmailEx" mdbInputDirective>
          <label for="darkFormEmailEx">Your email</label>
        </div>

        <div class="md-form pb-3">
          <input type="password" id="darkFormPasswordEx" class="form-control white-text" formControlName="darkFormPasswordEx" mdbInputDirective>
          <label for="darkFormPasswordEx">Your password</label>
          
        </div>
      </form>

      <!--Grid row-->
      <div class="row d-flex align-items-center mb-4">

        <!--Grid column-->
        <div class="text-center mb-3 col-md-12">
          <button type="button" mdbBtn color="success" block="true" rounded="true" class="z-depth-1 waves-light" mdbWavesEffect>Sign in</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!--Grid column-->
      <div class="col-md-12">
        <p class="font-small white-text d-flex justify-content-end">Have an account?
          <a href="#" class="green-text ml-1 font-weight-bold"> Log in</a>
        </p>
      </div>
      <!--Grid column-->

    </div>
  </div>
  
  <!--/Form without header-->

</section>
    </div>
<div class="col-md-2"></div>
</div>
<!--Section: Live preview-->